{% extends 'tampilan.html' %}
{% block isi %}
<h1> Menu Makanan</h1>
<table class="table-responsive table-striped table-hover">
  <tr>
    <th>Makanan</th>
    <th>Harga</th>
  </tr>
  <tr>
    <td>nasi goreng</td>
    <td>Rp10000</td>
  </tr>
  <tr>
    <td>Nasi Telor</td>
    <td>Rp8000</td>
  </tr>
  <tr>
    <td>Orak Orik</td>
    <td>Rp8000</td>
  </tr>
  <tr>
    <td>Magelangan</td>
    <td>Rp12000</td>
  </tr>
  <tr>
    <td>Mie Goreng</td>
    <td>Rp7000</td>
  </tr>
  <tr>
    <td>Nasi ayam</td>
    <td>Rp12000</td>
  </tr>
</table>

<h1> Minuman Panas</h1>
<table class="table-responsive table-striped table-hover">
  <tr>
    <th>Minuman</th>
    <th>Harga</th>
  </tr>
  <tr>
    <td>Kopi hitam</td>
    <td>Rp4000</td>
  </tr>
  <tr>
    <td>Bandrek</td>
    <td>Rp3000</td>
  </tr>
  <tr>
    <td>Teh Panas</td>
    <td>Rp3000</td>
  </tr>
   <tr>
    <td>Kopi ABC</td>
    <td>Rp4000</td>
  </tr>
</table>

<h1> Minuman Dingin</h1>
<table class="table-responsive table-striped table-hover">
  <tr>
    <th>Minuman</th>
    <th>Harga</th>
  </tr>
  <tr>
    <td>Es Milo</td>
    <td>Rp4000</td>
  </tr>
  <tr>
    <td>Es coklat</td>
    <td>Rp3000</td>
  </tr>
  <tr>
    <td>Es Susu</td>
    <td>Rp3000</td>
  </tr>
   <tr>
    <td>Es Jeruk</td>
    <td>Rp3000</td>
  </tr>
  <tr>
    <td>Es Nutrisari</td>
    <td>Rp3000</td>
  </tr>
  <tr>
    <td>Es Teh</td>
    <td>Rp3000</td>
  </tr>
</table>
{% endblock %}